[Desktop Entry]
Categories=Development;IDE;
Comment[en_IL]=
Comment=
Exec=bash -i -c "ros2 run rqt_plot rqt_plot"
GenericName[en_IL]=
GenericName=
Icon=labplot-xy-equation-curve
MimeType=
Name[en_IL]=RQT Plot
Name=RQT Plot
Path=
StartupNotify=true
StartupWMClass=rqt
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
