[Desktop Entry]
Categories=Development;IDE;
Comment[en_IL]=
Comment=
Exec=bash -i -c "rqt_graph"
GenericName[en_IL]=
GenericName=
Icon=distribute-graph
MimeType=
Name[en_IL]=Node Graph
Name=Node Graph
Path=
StartupNotify=true
StartupWMClass=rqt
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
