[Desktop Entry]
Version=1.0
Type=Application
Name=RQT Tool
Icon=dashing-crop
Exec=bash -i -c "/opt/ros/dashing/bin/rqt"
#Comment=Visualization Tool for ROS
Categories=Development;IDE;
Terminal=false
StartupWMClass=rqt
