[Desktop Entry]
Version=1.0
Type=Application
Name=RQT Topic Monitor
Icon=dashing-crop
Exec=bash -i -c "ros2 run rqt_topic rqt_topic" %f
#Comment=Visualization Tool for ROS
Categories=Development;IDE;
Terminal=false
StartupWMClass=rqt
